body {
/*    background: -webkit-linear-gradient(right, #ffcccc, #cceeff);*/
    background: url(img/background.svg);
}

#page-header .img-logo{
    height: 50px;   
}

#logo {
    margin-bottom: 2%;
    text-align: center;
    color: #222222;
    font-size: 50pt;
    font-family: sans-serif;
    font-weight: 550
}

#search-bar-row {
    margin-top: 11%;
}

#search-bar {
    margin: auto;
    float: none;
}
