body {
    background: -webkit-linear-gradient(right, #ffcccc, #cceeff);
}

#search-bar {
    margin: auto;
    float: none;
}
.page-header{
    text-align: center;
}

.img-responsive {
	height: 400px;
	width: 700px;
	/*float: none;*/
}
